<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Added READ_EXTERNAL_STORAGE permission as it's needed for reading images from the device -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkirLiar"
        tools:targetApi="31">

        <!-- SplashActivity is the main entry point -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WalkthroughActivity -->
        <activity
            android:name=".WalkthroughActivity"
            android:exported="true" />

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- ReportActivity -->
        <activity
            android:name=".ReportActivity"
            android:exported="true" />

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1UAKm57DJ41y7yxLJe2Tpmh28SohO82c" />

        <!-- Google Sign-In configuration -->
        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="@string/default_web_client_id" />

    </application>

</manifest>
